In [2]:
# Q1: Find the sum of first 20 natural numbers using a loop.
# sol:
a = 0
for i in range(1, 21):
    a += i  
print(f"The sum of first 20 natural numbers is: {a}")

The sum of first 20 natural numbers is: 210

In [15]:
# Q2: Create a list of numbers and add one new number using append().
# sol:
a=[11,12,13,14,15,16,17,18,19,20]
b=[]
b.append(23)
print(b)
a.append(b)
print(a)

[23]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, [23]]

In [17]:
# Q3: Create a list of numbers and remove a specific element from the list.
# sol: 
a=[11,22,33,44,55,66,77,89,99,1010]
a.pop(5)
print(a)

[11, 22, 33, 44, 55, 77, 89, 99, 1010]

In [18]:
# Q4: Create a tuple of numbers and check whether a given number exists in the tuple or not.
# sol:
x=(12,23,34,45,56,67,78,89,90)
b=int(input("enter a number:"))
if b in x:
    print("Exists")
else:
    print("Doesnot exists")

enter a number: 45

Exists

In [19]:
# Q5: # if x=[11,12,13,14,15,16,17,18,19,20]. seperate the numbers in the following way as shown.
#       odd=[]
#       even no.=[]

# sol:

x=[11,12,13,14,15,16,17,18,19,20]
odd=[]
even=[]
for i in x:
    if i%2==0:
       even.append(i)
    else:
        odd.append(i)
print("even no.", even)
print("odd no.", odd)

even no. [12, 14, 16, 18, 20]
odd no. [11, 13, 15, 17, 19]