In [5]:
# Q1: Take a string as input and check:
#     if the string length is greater than 5 AND contains the letter 'a', print "Valid String"
#     otherwise print "Invalid String"

# sol:
a= " my name is krishna"
if len(a)>5 and 'a' in a:
    print("Valid string")
else:
    print("Invalid String")

Valid string

In [19]:
# Q2: Create a list of numbers and use a for loop to:
#     print each number
#     print "Positive" if the number is greater than 0
#     print "Negative or Zero" otherwise

# sol:
b=[1,2,3,4,5,6,7,8,9,10]
for i in b:
    print(i)
    if i>0:
        print("Positive")
    else:
        print("Negative or zero")

1
Positive
2
Positive
3
Positive
4
Positive
5
Positive
6
Positive
7
Positive
8
Positive
9
Positive
10
Positive

In [32]:
# Q3: Create a tuple with duplicate numbers, convert it into a set, and print the unique elements.

# sol: 
h=(1,2,3,4,5,6,7,8,9,2,3,4,5)
b=set(h)
for i in b:
    print(i)

1
2
3
4
5
6
7
8
9

In [44]:
# Q4: Create a dictionary of subjects and marks.
#     Print the subject names where marks are:
#     greater than or equal to 40
#     less than 40
#     (Use if-else and comparison operators)

# sol:
q = {"maths": 30, "english": 40, "hindi": 77}

for subject in q:
    if q[subject] >= 40:
        print(subject, "- Pass")
    else:
        print(subject, "- Fail")

maths - Fail
english - Pass
hindi - Pass

In [43]:
# Q5: Create a list of student names and a dictionary of student marks.
#     Using a for loop:
#     print the names of students whose marks are greater than 60

# sol:
v=["krishna", " vaurn" , "yashi" , "aditya" , "saaransh"]
o={ "krishna" : 88 , " vaurn" : 60 , "yashi" : 70 , "aditya" : 14 , "saaransh" : 0}
for i in v:
    if o[i]>60:
        print(i)

krishna
yashi