In [4]:
# Q1: Create a list of numbers and print only unique elements using a set.
# sol: 
a=[11,22,33,44,55,66,11,22,66]
print(set(a))

{33, 66, 11, 44, 22, 55}

In [27]:
# Q2: Take two sets of numbers and print their union and their intersection.
# sol:
a={12,23,45,67}
b={78,89,90,45}
print("UNION:", a.union(b))
print("INTERSECTION:", a.intersection(b))

UNION: {67, 12, 45, 78, 23, 89, 90}
INTERSECTION: {45}

In [35]:
# Q3: Create a list of numbers and convert it into a set, then check whether a given number exists in it or not.
# sol: 
a=[13,24,35,46,57,68]
set(a)
x=int(input("enter a number to check:"))

if x in a:
    print("Yes exists in a.")
else:
    print("Doesent exists.")

enter a number to check: 34

Doesent exists.

In [33]:
# Q4: Take a string and create a set of characters, then print all unique characters.
# sol:
z=input(" enter a string:")
unique_char= set(z)
print(unique_char)

 enter a string: hello world

{' ', 'w', 'd', 'l', 'r', 'h', 'e', 'o'}

In [44]:
# Q5: Create two lists and find the common elements between them using sets.
# sol: 

a=[1,2,3,4,5,6,7,8,9,10]
b=[11,12,33,4,55,7,88,9,00,2]
c= set(a) 
d= set(b)
print(c.intersection(d))

{9, 2, 4, 7}