In [1]:
# Q1: Take a string and count how many vowels are present in it.

# sol:
x = input()
y = 0

for z in x:
    if z in "aeiouAEIOU":
        y = y + 1

print(y)

 my name is krishna sharma and i live in delhi

14

In [2]:
# Q2: Create a list of numbers and count how many are greater than 10 and even.

# sol:
x = [4, 12, 15, 20, 7, 18]
y = 0

for z in x:
    if z > 10 and z % 2 == 0:
        y = y + 1

print(y)

3

In [3]:
# Q3: Create a tuple with duplicate values and print only unique values using a loop.

# sol: 
x = (1, 2, 2, 3, 4, 4, 5)
y = set(x)

for z in y:
    print(z)

1
2
3
4
5

In [4]:
# Q4: Create a dictionary of names and marks and print:
#     name if marks â‰¥ 60
#     "Fail" otherwise


# sol:
x = {"Aman": 55, "Riya": 72, "Neha": 90, "Rahul": 30}

for y in x:
    if x[y] >= 60:
        print(y)
    else:
        print("Fail")

Fail
Riya
Neha
Fail

In [6]:
# Q5: Create a list of words and store unique words in a dictionary with their length as value.


# sol:
x = ["python", "code", "python", "learn", "code"]
y = set(x)
z = {}

for i in y:
    z[i] = len(i)

print(z)

{'code': 4, 'python': 6, 'learn': 5}