In [5]:
# Q1: Take a string as input and:
#     count how many characters are uppercase
#     count how many are lowercase

# sol:
a=input("Enter a string:")
q=0
w=0
for i in a:
    if i.isupper():
        q+=1
    elif i.islower():
        w+=1
print("No. of uppercase:", q)
print("No. of lowercase:", w)

Enter a string:  My home is Situated 40km away from college.

No. of uppercase: 2
No. of lowercase: 31

In [12]:
# Q2: Create a list of numbers and:
#     print only the numbers which are divisible by 3

# sol:
f=[11,22,33,44,55,66,77,88,99,1010]
for i in f:
    if i%3==0:
        print(i)

33
66
99

In [18]:
# Q3: Create a tuple with duplicate values and:
#     convert it into a set
#     use a while loop to print all unique elements 

# sol:
r=(14,345,245,75,3,6,14,3,6)
e=set(r)
u=list(e)
t=0
while t<len(u):
    print(u[t])
    t=t+1

3
6
75
14
245
345

In [21]:
# Q4: Create a dictionary of names and ages and:
#     print names of people whose age is 18 or above

# sol:
i = {"danny": 12, "seenu": 23, "bunty": 18, "pia": 17}

for name, age in i.items():
    if age >= 18:
        print(name)

seenu
bunty

In [27]:
# Q5: Take a string as input and:
#     convert it into a list of characters
#     convert the list into a set
#     check whether the character 'a' exists in it or not

# sol:
e=input()
f=list(e)
u=set(f)
if 'a' in i:
    print("a exists")
else:
    print("a donot exists")

 Antarctica is cold place

a exists