In [1]:
# Q1: Write a function that:
#     takes a string as input
#     prints the length of the string

# sol:
def length():
    a=input("Enter a string:")
    print(len(a))

length()

Enter a string: this is question of day 16

26

In [12]:
# Q2: Create a list of numbers and:
#     use a for loop to print each number
#     print the square of each number

# sol:
i=[2,4,6,8,3,7]
sq=[]
for w in (i):
    print("number in list:", w)
    sq.append(w**2)

print("Numbers list:", i)
print("Squares list:", sq)

number in list: 2
number in list: 4
number in list: 6
number in list: 8
number in list: 3
number in list: 7
Numbers list: [2, 4, 6, 8, 3, 7]
Squares list: [4, 16, 36, 64, 9, 49]

In [13]:
# Q3: Create a tuple with duplicate values and:
#     convert it into a set
#     print the set

# sol:
w=(1,23,4,5,6,23,5,6)
e=set(w)
print(e)

{1, 4, 5, 6, 23}

In [22]:
# Q4: Create a dictionary of names and ages and:
#     using a for loop, print only the names 

# sol:
d={"kinu":55,"leenu": 34,"seenu":70,"tinu":27}
for i in d:
    print("name:", i)

name: kinu
name: leenu
name: seenu
name: tinu

In [25]:
# Q5: Write a program using a while loop to:
#     print numbers from 1 to 5

# sol:
n=1
while n<6:
    print(n)
    n+=1

1
2
3
4
5