In [1]:
# Q1: Count how many digits are in a string.

#  sol:
a = "abc1234"
c = 0

for i in a:
    if i.isdigit():
        c = c + 1

print(c)

4

In [2]:
# Q2: From a list, create a new list of numbers greater than 5.

# sol: 
a = [2, 8, 4, 9, 1, 6]
b = []

for i in a:
    if i > 5:
        b.append(i)

print(b)

[8, 9, 6]

In [3]:
# Q3: Find the student with lowest marks.

# sol:
a = {"Ram": 70, "Sam": 45, "Tom": 60}

m = 100
name = ""

for i in a:
    if a[i] < m:
        m = a[i]
        name = i

print(name)

Sam

In [4]:
# Q4: Find elements common in list and set.

# sol:
a = [1, 2, 3, 4]
b = {3, 4, 5}

c = []

for i in a:
    if i in b:
        c.append(i)

print(c)

[3, 4]

In [5]:
# Q5: Create a function that prints numbers from 1 to n using while loop.

# sol:
def show(n):
    i = 1
    while i <= n:
        print(i)
        i = i + 1

show(5)

1
2
3
4
5